In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [ ]:
# Import csv
restaurants3_df = pd.read_csv('yelp_csv/yelp_csv_CLEAN.csv')

In [ ]:
restaurants3_df.head()

In [ ]:
# Create groupby object by zip code for rating and price_integer
by_zip = restaurants3_df.groupby(['zip code'])[['rating','price_integer']]

In [ ]:
# Use describe method for rating and price_integer by zip code
zip_stats = by_zip.describe()
zip_stats

In [ ]:
# Get average of rating and price_integer by zip code and drop null values 
zip_means = by_zip.mean()
zip_means.dropna(inplace=True)
zip_means

In [ ]:
# Define x and y axis 
x_axis = zip_means['price_integer']
y_axis = zip_means['rating']

# Perform linear regression
(slope, intercept, rvalue, pvalue, stderr) = st.linregress(x_axis,y_axis)
reg_line = slope * x_axis + intercept
line_eq = f'y = {round(slope,2)}x + {round(intercept,2)}'
line_eq

In [ ]:
# Perform correlation analysis and print result
corr = st.pearsonr(x_axis,y_axis)
print(f'Correlation coefficient: {round(corr[0],2)}')

# Plot scatterplot and regression line
plt.scatter(x_axis,y_axis);
plt.plot(x_axis,reg_line, color = 'red');
plt.ylabel('Average Rating');
plt.xlabel('Average Dollar Signs');
plt.ylim(2.2,4)
plt.xlim(.95,2.2)
plt.title('')

# Annotate with R^2 value
plt.annotate(f'R-squared: {round((rvalue)**2,2)}',(1.1,2.5),color='red');

In [ ]:
# See how many restaurant listings there are by type
by_category = restaurants3_df.groupby(['zip code','category_title'])
restaurants_means = pd.DataFrame(by_category[['rating','price_integer']].mean())
restaurants_counts = pd.DataFrame(by_category[['rating','price_integer']].count())
# restaurants4_df.loc[restaurants4_df['category_title'] > 5]
# restaurants_means.columns
restaurants_means.reset_index(inplace=True)
restaurants_counts.reset_index(inplace=True)
restaurants4_df = pd.merge(restaurants_means,restaurants_counts,on=['zip code','category_title'])

In [ ]:
restaurants4_df = restaurants4_df.rename(columns={'rating_x' : 'rating_mean',
                                                 'price_integer_x' : 'price_mean',
                                                 'rating_y' : 'rating_count',
                                                 'price_integer_y' : 'price_count'})
restaurants4_df.dropna(inplace=True)
restaurants4_df = restaurants4_df.loc[(restaurants4_df['rating_count'] > 3) & 
                             (restaurants4_df['price_count'] > 3),:]

In [ ]:
restaurants4_df.loc[restaurants4_df['category_title'] == 'Pizza',:]