In [2]:
import pandas as pd

In [11]:
data = pd.read_csv('Merged_Clean.csv')
data.head()

,Unnamed: 0,name,category,category_title,rating,price,review_count,display_address,address1,address2,...,AKA Name,Facility Type,Risk,zip code_y,Year,Inspection Type,Results,Violations,Latitude,Longitude
0,3560,Wendy's,hotdogs,Fast Food,1.5,$,66,"['4412 N Pulaski Rd', 'Chicago, IL 60630']",4412 N Pulaski Rd,NaN,...,WENDY'S,Restaurant,Risk 1 (High),60630,2022,Complaint Re-Inspection,Pass,NaN,41.961366,-87.727987
1,4779,Giordano's,salad,Salad,2.5,$$,68,"['1401 W 18th St', 'Chicago, IL 60608']",1401 W 18th St,NaN,...,GIORDANO'S PIZZA,Restaurant,Risk 1 (High),60608,2022,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.857765,-87.661385
2,5719,Potbelly Sandwich Shop,sandwiches,Sandwiches,3.0,$,30,"['1 N La Salle St', 'Chicago, IL 60602']",1 N La Salle St,NaN,...,POTBELLY SANDWICH WORKS LLC,Restaurant,Risk 1 (High),60602,2022,Canvass,Fail,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.881990,-87.632213
3,5502,Amazon Go,convenience,Convenience Stores,3.5,NaN,4,"['130 E Randolph St', 'Chicago, IL 60601']",130 E Randolph St,NaN,...,GIORDANO'S,Restaurant,Risk 1 (High),60601,2022,License,Pass,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.884588,-87.623273
4,5975,Wildberry Pancakes and Cafe,pancakes,Pancakes,4.5,$$,8246,"['130 E Randolph St', 'Chicago, IL 60601']",130 E Randolph St,NaN,...,GIORDANO'S,Restaurant,Risk 1 (High),60601,2022,License,Pass,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.884588,-87.623273

In [28]:
data['display_address'].value_counts()

['500 W Madison St', 'Chicago, IL 60661']              110
['131 N Clinton St', 'Chicago, IL 60661']               42
['251 E Huron St', 'Chicago, IL 60611']                 28
['1234 N Halsted St', 'Chicago, IL 60642']              15
['251 E Huron St', 'Fl 2', 'Chicago, IL 60611']         14
                                                      ...
['810 W Jackson Blvd', 'Chicago, IL 60607']              1
['521 S Dearborn St', 'Chicago, IL 60605']               1
['8541 S Pulaski Rd', 'Chicago, IL 60652']               1
['29 E Madison St', 'Ste 180', 'Chicago, IL 60602']      1
['3615 W Irving Park Rd', 'Chicago, IL 60618']           1
Name: display_address, Length: 384, dtype: int64

In [32]:
data1 = data.loc[data['display_address'] == "['500 W Madison St', 'Chicago, IL 60661']",:]
data1[['display_address','name','AKA Name']].head()

,display_address,name,AKA Name
136,"['500 W Madison St', 'Chicago, IL 60661']",Yolk West Loop,BURRITO BEACH
138,"['500 W Madison St', 'Chicago, IL 60661']",Madison Tavern,BURRITO BEACH
139,"['500 W Madison St', 'Chicago, IL 60661']",American Wildburger,BURRITO BEACH
141,"['500 W Madison St', 'Chicago, IL 60661']",Indian Swaad,BURRITO BEACH
142,"['500 W Madison St', 'Chicago, IL 60661']",Hot Dogs Etc,BURRITO BEACH

In [34]:
data['Pass_1'] = 0
data.loc[data['Results'] == 'Pass', 'Pass_1'] = 1
by_zip = data.groupby(['zip code_x']).count()
by_zip

,Unnamed: 0,name,category,category_title,rating,price,review_count,display_address,address1,address2,...,Facility Type,Risk,zip code_y,Year,Inspection Type,Results,Violations,Latitude,Longitude,Pass_1
zip code_x,,,,,,,,,,,,,,,,,,,,,
60601,28,28,28,28,28,21,28,28,28,17,...,28,28,28,28,28,28,14,28,28,28
60602,13,13,13,13,13,11,13,13,13,5,...,13,13,13,13,13,13,8,13,13,13
60603,14,14,14,14,14,6,14,14,14,2,...,14,14,14,14,14,14,13,14,14,14
60604,12,12,12,12,12,7,12,12,12,5,...,12,12,12,12,12,12,8,12,12,12
60605,12,12,12,12,12,4,12,12,12,0,...,12,12,12,12,12,12,12,12,12,12
60606,39,39,39,39,39,19,39,39,39,6,...,39,39,39,39,39,39,30,39,39,39
60607,44,44,44,44,44,27,44,44,44,0,...,44,44,44,44,44,44,36,44,44,44
60608,35,35,35,35,35,21,35,35,35,0,...,35,35,35,35,35,35,29,35,35,35
60609,19,19,19,19,19,14,19,19,19,1,...,19,19,19,19,19,19,17,19,19,19
60610,21,21,21,21,21,10,21,21,21,0,...,21,21,21,21,21,21,12,21,21,21
60611,108,108,108,108,108,83,108,108,108,26,...,108,108,108,108,108,108,90,108,108,108
60612,13,13,13,13,13,7,13,13,13,1,...,13,13,13,13,13,13,7,13,13,13
60613,10,10,10,10,10,9,10,10,10,0,...,10,10,10,10,10,10,10,10,10,10
60614,30,30,30,30,30,26,30,30,30,0,...,30,30,30,30,30,30,24,30,30,30
60615,1,1,1,1,1,0,1,1,1,0,...,1,1,1,1,1,1,0,1,1,1
60616,21,21,21,21,21,17,21,21,21,4,...,21,21,21,21,21,21,15,21,21,21
60617,6,6,6,6,6,6,6,6,6,0,...,6,6,6,6,6,6,6,6,6,6
60618,16,16,16,16,16,13,16,16,16,0,...,16,16,16,16,16,16,15,16,16,16
60619,11,11,11,11,11,11,11,11,11,0,...,11,11,11,11,11,11,10,11,11,11
60620,42,42,42,42,42,30,42,42,42,8,...,42,42,42,42,42,42,38,42,42,42
60621,4,4,4,4,4,2,4,4,4,0,...,4,4,4,4,4,4,4,4,4,4
60622,14,14,14,14,14,7,14,14,14,1,...,14,14,14,14,14,14,10,14,14,14
60623,3,3,3,3,3,2,3,3,3,0,...,3,3,3,3,3,3,3,3,3,3
60624,4,4,4,4,4,1,4,4,4,0,...,4,4,4,4,4,4,4,4,4,4
60625,3,3,3,3,3,2,3,3,3,0,...,3,3,3,3,3,3,3,3,3,3
60626,20,20,20,20,20,16,20,20,20,0,...,20,20,20,20,20,20,18,20,20,20
60628,29,29,29,29,29,13,29,29,29,1,...,29,29,29,29,29,29,28,29,29,29
60629,5,5,5,5,5,5,5,5,5,0,...,5,5,5,5,5,5,4,5,5,5
60630,10,10,10,10,10,10,10,10,10,3,...,10,10,10,10,10,10,6,10,10,10
60631,6,6,6,6,6,5,6,6,6,0,...,6,6,6,6,6,6,4,6,6,6
60632,17,17,17,17,17,11,17,17,17,2,...,17,17,17,17,17,17,15,17,17,17
60634,2,2,2,2,2,1,2,2,2,0,...,2,2,2,2,2,2,1,2,2,2
60637,2,2,2,2,2,2,2,2,2,0,...,2,2,2,2,2,2,2,2,2,2
60639,5,5,5,5,5,3,5,5,5,0,...,5,5,5,5,5,5,4,5,5,5
60640,18,18,18,18,18,15,18,18,18,1,...,18,18,18,18,18,18,16,18,18,18
60641,7,7,7,7,7,6,7,7,7,0,...,7,7,7,7,7,7,7,7,7,7
60642,27,27,27,27,27,7,27,27,27,10,...,27,27,27,27,27,27,17,27,27,27
60643,2,2,2,2,2,1,2,2,2,0,...,2,2,2,2,2,2,2,2,2,2
60644,10,10,10,10,10,7,10,10,10,1,...,10,10,10,10,10,10,10,10,10,10
60647,6,6,6,6,6,5,6,6,6,1,...,6,6,6,6,6,6,5,6,6,6
60649,5,5,5,5,5,5,5,5,5,0,...,5,5,5,5,5,5,5,5,5,5
60652,4,4,4,4,4,1,4,4,4,0,...,4,4,4,4,4,4,3,4,4,4
60653,2,2,2,2,2,2,2,2,2,0,...,2,2,2,2,2,2,1,2,2,2
60654,38,38,38,38,38,33,38,38,38,6,...,38,38,38,38,38,38,35,38,38,38
60655,1,1,1,1,1,0,1,1,1,0,...,1,1,1,1,1,1,1,1,1,1
60657,11,11,11,11,11,9,11,11,11,0,...,11,11,11,11,11,11,8,11,11,11
60661,215,215,215,215,215,138,215,215,215,46,...,215,215,215,215,215,215,166,215,215,215

In [22]:
pass_fail = by_zip['Pass_1'].mean()
pass_fail

zip code_x
60601    1.000000
60602    0.846154
60603    1.000000
60604    0.666667
60605    0.666667
60606    0.538462
60607    0.659091
60608    0.714286
60609    0.684211
60610    0.809524
60611    1.000000
60612    0.692308
60613    0.800000
60614    0.600000
60615    1.000000
60616    0.904762
60617    0.500000
60618    0.562500
60619    0.545455
60620    0.500000
60621    0.500000
60622    0.857143
60623    0.666667
60624    0.750000
60625    0.666667
60626    0.450000
60628    0.517241
60629    0.200000
60630    0.600000
60631    0.666667
60632    0.411765
60634    1.000000
60637    0.500000
60639    0.600000
60640    0.888889
60641    0.571429
60642    0.592593
60643    0.500000
60644    0.800000
60647    0.500000
60649    0.600000
60652    0.750000
60653    1.000000
60654    0.526316
60655    1.000000
60657    0.636364
60661    0.623256
Name: Pass_1, dtype: float64