In [2]:
import pandas as pd

In [33]:
inspection_df = pd.read_csv('Inspection_Data/Inspection_Data_Clean2.csv')
inspection_df.head()

,Address,Address_old,AKA Name,Facility Type,Risk,Zip,Year,Inspection Type,Results,Violations,Latitude,Longitude
0,1950 W Polk St,1950 W Polk St,RED MANGO,Restaurant,Risk 2 (Medium),60612.0,2022,License,Pass,NaN,41.871596,-87.675821
1,4412 N Pulaski Rd,4412 N Pulaski Rd,WENDY'S,Restaurant,Risk 1 (High),60630.0,2022,Complaint Re-Inspection,Pass,NaN,41.961366,-87.727987
2,1401 W 18th St,1401 W 18th St,GIORDANO'S PIZZA,Restaurant,Risk 1 (High),60608.0,2022,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.857765,-87.661385
3,5420 W Fullerton,5420 W Fullerton,ALEX LA MICHOACANA,Restaurant,Risk 1 (High),60639.0,2022,Canvass Re-Inspection,Pass,NaN,41.924141,-87.761921
4,2167 S China Pl,2167 S China Pl,KYO MATCHA,Restaurant,Risk 2 (Medium),60616.0,2022,License,Pass,NaN,41.853556,-87.635198

In [34]:
inspection_df['Lat_round'] = round(inspection_df['Latitude'],2)
inspection_df['Lng_round'] = round(inspection_df['Longitude'],2)
inspection_df['name_upper'] = inspection_df['AKA Name'].str.upper()

In [35]:
yelp_df = pd.read_csv('yelp_csv/yelp_csv_CLEAN.csv')
yelp_df.head()

,Unnamed: 0,name,category,category_title,rating,price,review_count,display_address,address1,address2,address3,city,latitude,longitude,zip code,restaurant_id,price_integer
0,0,Tortas Frontera,mexican,Mexican,4.0,$$,1395,"['Terminal 3 - Gate K4', ""10000 W O'Hare Ave"",...",Terminal 3 - Gate K4,10000 W O'Hare Ave,Terminal 3 Concourse K Gate K4,Chicago,41.975438,-87.900137,60666,1zZvM7Zy__Oh533E4bt6_A,2.0
1,1,Farmer's Fridge,salad,Salad,4.5,$,62,"['10000 Ohare Way', 'Terminal 3 Gate K6', 'Chi...",10000 Ohare Way,NaN,Terminal 3 Gate K6,Chicago,41.975234,-87.898719,60666,4xQv1b1IFRsAWZu7yVLFrQ,1.0
2,2,Tortas Frontera,mexican,Mexican,4.0,$$,1321,"[""10000 W O'Hare Ave"", 'Terminal 1 - Gate B11'...",10000 W O'Hare Ave,NaN,Terminal 1 - Gate B11,Chicago,41.980026,-87.906679,60666,0k018u1PAtfmkNRYk04yCQ,2.0
3,3,Gaslight Club,newamerican,American (New),3.5,$$$,99,"[""Chicago O'Hare International Airport"", ""O'Ha...",Chicago O'Hare International Airport,NaN,O'Hare Hilton Hotel - Lobby Level,Chicago,41.977965,-87.905173,60666,MywzBEKWjmt0bcNajKt8yw,3.0
4,4,Big Bowl,chinese,Chinese,2.0,$$,36,"[""10000 West O'hare Ave"", 'Terminal 5; Gate M7...",10000 West O'hare Ave,NaN,Terminal 5; Gate M7,Chicago,41.975103,-87.891350,60666,6VZwwWxBmxMsKd10AIOjxg,2.0

In [36]:
yelp_df
yelp_df['Lat_round'] = round(yelp_df['latitude'],2)
yelp_df['Lng_round'] = round(yelp_df['longitude'],2)

yelp_df.columns
yelp_df['name_upper'] = yelp_df['name'].str.upper()

In [37]:
merged_df = pd.merge(inspection_df, yelp_df, on=['name_upper','Lat_round','Lng_round'],how='inner')

In [43]:
merged_df.loc[['Address','display_address','AKA Name','name','zip code']]

,Address,display_address,AKA Name,name,zip code
0,4412 N Pulaski Rd,"['4412 N Pulaski Rd', 'Chicago, IL 60630']",WENDY'S,Wendy's,60630
1,4412 N Pulaski Rd,"['4412 N Pulaski Rd', 'Chicago, IL 60630']",WENDY'S,Wendy's,60630
2,1116 W Madison St,"['1116 W Madison St', 'Chicago, IL 60607']",VietFive Coffee,Vietfive Coffee,60607
3,1116 W Madison St,"['1116 W Madison St', 'Chicago, IL 60607']",VietFive Coffee,Vietfive Coffee,60607
4,2132 W Chicago,"['2132 W Chicago Ave', 'Chicago, IL 60622']",TAKIE OUTIT,Takie Outit,60622
...,...,...,...,...,...
620,5422 W Fullerton,"['5422 W Fullerton Ave', 'Chicago, IL 60639']",SAZON CUBANO,Sazon Cubano,60639
621,222 W Adams St,"['175 W Jackson Blvd', 'Chicago, IL 60604']",SOPRAFFINA MARKETCAFFE,Sopraffina Marketcaffe,60604
622,116 S Michigan,"['116 S Michigan Ave', 'Chicago, IL 60603']",JOLLIBEE,Jollibee,60603
623,5630 W Roosevelt Rd,"['5630 W Roosevelt Rd', 'Chicago, IL 60644']",SUBWAY,Subway,60644
624,3333 W Belmont,"['3333 W Belmont Ave', 'Space 101', 'Chicago, ...",SUBWAY,Subway,60618

In [50]:
by_zip
by_zip = merged_df.groupby(['zip code','Results'])['rating'].mean()
by_zip

zip code  Results
60601     Fail       3.333333
          Pass       3.125000
60602     Fail       4.000000
          Pass       2.875000
60603     Fail       3.500000
                       ...
60659     Pass       3.250000
60660     Fail       3.000000
          Pass       3.833333
60661     Fail       4.166667
          Pass       3.357143
Name: rating, Length: 101, dtype: float64

In [51]:
merged_df.columns

Index(['Address', 'Address_old', 'AKA Name', 'Facility Type', 'Risk', 'Zip',
       'Year', 'Inspection Type', 'Results', 'Violations', 'Latitude',
       'Longitude', 'Lat_round', 'Lng_round', 'name_upper', 'Unnamed: 0',
       'name', 'category', 'category_title', 'rating', 'price', 'review_count',
       'display_address', 'address1', 'address2', 'address3', 'city',
       'latitude', 'longitude', 'zip code', 'restaurant_id', 'price_integer'],
      dtype='object')

In [52]:
merge_test = pd.merge(inspection_df, yelp_df,left_on=['name_upper','Address'],
                      right_on=['name_upper','address1'])

In [53]:
merge_test

,Address,Address_old,AKA Name,Facility Type,Risk,Zip,Year,Inspection Type,Results,Violations,...,address2,address3,city,latitude,longitude,zip code,restaurant_id,price_integer,Lat_round_y,Lng_round_y
0,4412 N Pulaski Rd,4412 N Pulaski Rd,WENDY'S,Restaurant,Risk 1 (High),60630.0,2022,Complaint Re-Inspection,Pass,NaN,...,NaN,NaN,Chicago,41.961428,-87.728149,60630,NztYcb9i_D9E563x1XVUsQ,1.0,41.96,-87.73
1,4412 N Pulaski Rd,4412 N Pulaski Rd,WENDY'S,Restaurant,Risk 1 (High),60630.0,2022,Short Form Complaint,Fail,52. SEWAGE & WASTE WATER PROPERLY DISPOSED - C...,...,NaN,NaN,Chicago,41.961428,-87.728149,60630,NztYcb9i_D9E563x1XVUsQ,1.0,41.96,-87.73
2,1116 W Madison St,1116 W Madison St,VietFive Coffee,Restaurant,Risk 2 (Medium),60607.0,2022,License Re-Inspection,Pass,NaN,...,NaN,NaN,Chicago,41.881840,-87.655100,60607,zrgjSslmZzgmF6H4ZU3HxA,NaN,41.88,-87.66
3,1116 W Madison St,1116 W Madison St,VietFive Coffee,Restaurant,Risk 2 (Medium),60607.0,2022,License,Fail,50. HOT & COLD WATER AVAILABLE; ADEQUATE PRESS...,...,NaN,NaN,Chicago,41.881840,-87.655100,60607,zrgjSslmZzgmF6H4ZU3HxA,NaN,41.88,-87.66
4,1023 W Lake St,1023 W Lake St,RICCARDO OSTERIA,Restaurant,Risk 1 (High),60607.0,2022,Canvass Re-Inspection,Pass,NaN,...,NaN,NaN,Chicago,41.885300,-87.653160,60607,COj7sT-lZrtOyx0X-ELMug,NaN,41.89,-87.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,452 W Pershing Rd,452 W Pershing Rd,SNACK SHOP,Restaurant,Risk 1 (High),60609.0,2022,License,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",...,NaN,NaN,Chicago,41.823822,-87.638275,60609,5hs8FJEMNDsGcq0TloLQiw,1.0,41.82,-87.64
219,5525 N Clark St,5525 N Clark St,LOS ARCOS,Restaurant,Risk 1 (High),60640.0,2022,Complaint,Pass,49. NON-FOOD/FOOD CONTACT SURFACES CLEAN - Com...,...,NaN,NaN,Chicago,41.982473,-87.668431,60640,X6JUh1ICVuvYI7CngnJQLA,1.0,41.98,-87.67
220,5101 N Clark St,5101 N Clark St,BAR ROMA,Restaurant,Risk 1 (High),60640.0,2022,Complaint,Pass,16. FOOD-CONTACT SURFACES: CLEANED & SANITIZED...,...,Ste 1,NaN,Chicago,41.974496,-87.668082,60640,wfxgPtSkiAfkKNBVEWts9g,2.0,41.97,-87.67
221,222 W Adams St,222 W Adams St,SOPRAFFINA MARKETCAFFE,Restaurant,Risk 1 (High),60606.0,2022,Canvass,Pass,NaN,...,NaN,NaN,Chicago,41.879888,-87.635039,60606,lcML4R0fw3axdYPjcYPeRQ,2.0,41.88,-87.64
222,5630 W Roosevelt Rd,5630 W Roosevelt Rd,SUBWAY,Restaurant,Risk 1 (High),60644.0,2022,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",...,NaN,NaN,Chicago,41.865720,-87.765713,60644,EfP955wxtzl8Uqdh-Z9dCA,1.0,41.87,-87.77