# This is where the merged dataframe is created and cleaned

In [1]:
# Import dependencies
from pprint import pprint
import pandas as pd 
import requests
import numpy as np

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
from sklearn import datasets

#yelp_api_key =

In [2]:
#import the API data
yelp_csv = pd.read_csv('yelp_csv/yelp_csv_CLEAN2.csv', dtype=object)
yelp_csv.head(5)

,Unnamed: 0,name,category,category_title,rating,price,review_count,display_address,address1,address2,address3,city,latitude,longitude,zip code,restaurant_id,price_integer
0,0,Tortas Frontera,mexican,Mexican,4,$$,1395,"['Terminal 3 - Gate K4', ""10000 W O'Hare "", 'T...",Terminal 3 - Gate K4,10000 W O'Hare,Terminal 3 Concourse K Gate K4,Chicago,41.975438,-87.900137,60666,1zZvM7Zy__Oh533E4bt6_A,2
1,1,Farmer's Fridge,salad,Salad,4.5,$,62,"['10000 Ohare Way', 'Terminal 3 Gate K6', 'Chi...",10000 Ohare Way,NaN,Terminal 3 Gate K6,Chicago,41.97523427,-87.89871916,60666,4xQv1b1IFRsAWZu7yVLFrQ,1
2,2,Tortas Frontera,mexican,Mexican,4,$$,1321,"[""10000 W O'Hare "", 'Terminal 1 - Gate B11', '...",10000 W O'Hare,NaN,Terminal 1 - Gate B11,Chicago,41.98002633,-87.90667938,60666,0k018u1PAtfmkNRYk04yCQ,2
3,3,Gaslight Club,newamerican,American (New),3.5,$$$,99,"[""Chicago O'Hare International Airport"", ""O'Ha...",Chicago O'Hare International Airport,NaN,O'Hare Hilton Hotel - Lobby Level,Chicago,41.97796482,-87.9051733,60666,MywzBEKWjmt0bcNajKt8yw,3
4,4,Big Bowl,chinese,Chinese,2,$$,36,"[""10000 West O'hare "", 'Terminal 5; Gate M7', ...",10000 West O'hare,NaN,Terminal 5; Gate M7,Chicago,41.97510276,-87.89135034,60666,6VZwwWxBmxMsKd10AIOjxg,2

In [3]:
#import the API data
inspection = pd.read_csv('Inspection_Data/Inspection_Data_Clean2.csv', dtype=object)
inspection.head(5)

,Address,Address_old,AKA Name,Facility Type,Risk,Zip,Year,Inspection Type,Results,Violations,Latitude,Longitude
0,1950 W Polk St,1950 W Polk St,RED MANGO,Restaurant,Risk 2 (Medium),60612,2022,License,Pass,NaN,41.87159625,-87.67582148
1,4412 N Pulaski Rd,4412 N Pulaski Rd,WENDY'S,Restaurant,Risk 1 (High),60630,2022,Complaint Re-Inspection,Pass,NaN,41.96136649,-87.72798668
2,1401 W 18th St,1401 W 18th St,GIORDANO'S PIZZA,Restaurant,Risk 1 (High),60608,2022,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.85776469,-87.66138509
3,5420 W Fullerton,5420 W Fullerton,ALEX LA MICHOACANA,Restaurant,Risk 1 (High),60639,2022,Canvass Re-Inspection,Pass,NaN,41.9241413,-87.76192142
4,2167 S China Pl,2167 S China Pl,KYO MATCHA,Restaurant,Risk 2 (Medium),60616,2022,License,Pass,NaN,41.85355612,-87.63519795

In [4]:
inspection.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1624    False
1625    False
1626    False
1627    False
1628    False
Length: 1629, dtype: bool

In [5]:
inspection = inspection.rename(columns={'Address': 'address1', 'Zip': 'zip code'})

In [6]:
#eventually to merge
Merged = pd.merge(yelp_csv, inspection, how="right", on=['address1'])
Merged

,Unnamed: 0,name,category,category_title,rating,price,review_count,display_address,address1,address2,...,AKA Name,Facility Type,Risk,zip code_y,Year,Inspection Type,Results,Violations,Latitude,Longitude
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950 W Polk St,NaN,...,RED MANGO,Restaurant,Risk 2 (Medium),60612,2022,License,Pass,NaN,41.87159625,-87.67582148
1,3560,Wendy's,hotdogs,Fast Food,1.5,$,66,"['4412 N Pulaski Rd', 'Chicago, IL 60630']",4412 N Pulaski Rd,NaN,...,WENDY'S,Restaurant,Risk 1 (High),60630,2022,Complaint Re-Inspection,Pass,NaN,41.96136649,-87.72798668
2,4779,Giordano's,salad,Salad,2.5,$$,68,"['1401 W 18th St', 'Chicago, IL 60608']",1401 W 18th St,NaN,...,GIORDANO'S PIZZA,Restaurant,Risk 1 (High),60608,2022,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.85776469,-87.66138509
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5420 W Fullerton,NaN,...,ALEX LA MICHOACANA,Restaurant,Risk 1 (High),60639,2022,Canvass Re-Inspection,Pass,NaN,41.9241413,-87.76192142
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2167 S China Pl,NaN,...,KYO MATCHA,Restaurant,Risk 2 (Medium),60616,2022,License,Pass,NaN,41.85355612,-87.63519795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,4774,Fiesta Tamaleria El Barrio,mexican,Mexican,4.5,NaN,12,"['1820 W 18th St', 'Chicago, IL 60608']",1820 W 18th St,NaN,...,FIESTA TAMALERIA EL BARRIO,Restaurant,Risk 2 (Medium),60608,2022,License,Pass,NaN,41.85782113,-87.67198407
2060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4212-4214 N Milwaukee,NaN,...,LA PENA RESTAURANTE,Restaurant,Risk 1 (High),60641,2022,Canvass,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.9573322,-87.75179742
2061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1139 W Bryn Mawr,NaN,...,BEN'S NOODLES & RICE,Restaurant,Risk 1 (High),60660,2022,Canvass Re-Inspection,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.98351971,-87.65963856
2062,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8645 S Stony Island,NaN,...,WENDY'S,Restaurant,Risk 1 (High),60617,2022,Complaint Re-Inspection,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,41.73740694,-87.58506914
2063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2351 W Augusta Blvd,NaN,...,JOEY'S G'S MAC AND CHEESE,Restaurant,Risk 1 (High),60622,2022,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.89927625,-87.68650717

In [7]:
Merged.to_csv('Merged.csv', index=False)

In [8]:
Merged['name'].replace('', np.nan, inplace=True)
Merged.dropna(subset=['name'], inplace=True)

In [9]:
Merged

,Unnamed: 0,name,category,category_title,rating,price,review_count,display_address,address1,address2,...,AKA Name,Facility Type,Risk,zip code_y,Year,Inspection Type,Results,Violations,Latitude,Longitude
1,3560,Wendy's,hotdogs,Fast Food,1.5,$,66,"['4412 N Pulaski Rd', 'Chicago, IL 60630']",4412 N Pulaski Rd,NaN,...,WENDY'S,Restaurant,Risk 1 (High),60630,2022,Complaint Re-Inspection,Pass,NaN,41.96136649,-87.72798668
2,4779,Giordano's,salad,Salad,2.5,$$,68,"['1401 W 18th St', 'Chicago, IL 60608']",1401 W 18th St,NaN,...,GIORDANO'S PIZZA,Restaurant,Risk 1 (High),60608,2022,Canvass,Pass,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",41.85776469,-87.66138509
5,5719,Potbelly Sandwich Shop,sandwiches,Sandwiches,3,$,30,"['1 N La Salle St', 'Chicago, IL 60602']",1 N La Salle St,NaN,...,POTBELLY SANDWICH WORKS LLC,Restaurant,Risk 1 (High),60602,2022,Canvass,Fail,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.88199007,-87.63221288
6,5502,Amazon Go,convenience,Convenience Stores,3.5,NaN,4,"['130 E Randolph St', 'Chicago, IL 60601']",130 E Randolph St,NaN,...,GIORDANO'S,Restaurant,Risk 1 (High),60601,2022,License,Pass,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.88458837,-87.62327256
7,5975,Wildberry Pancakes and Cafe,pancakes,Pancakes,4.5,$$,8246,"['130 E Randolph St', 'Chicago, IL 60601']",130 E Randolph St,NaN,...,GIORDANO'S,Restaurant,Risk 1 (High),60601,2022,License,Pass,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",41.88458837,-87.62327256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2049,4724,Pi18en,newmexican,New Mexican Cuisine,3.5,NaN,3,"['1519 W 18th St', 'Chicago, IL 60608']",1519 W 18th St,NaN,...,PI18EN,Restaurant,Risk 1 (High),60608,2022,Canvass,Fail,22. PROPER COLD HOLDING TEMPERATURES - Comment...,41.85771387,-87.66454238
2050,6277,Pl-zen,gastropubs,Gastropubs,4,$$,389,"['1519 W 18th St', 'Chicago, IL 60608']",1519 W 18th St,NaN,...,PI18EN,Restaurant,Risk 1 (High),60608,2022,Canvass,Fail,22. PROPER COLD HOLDING TEMPERATURES - Comment...,41.85771387,-87.66454238
2053,3574,McDonald's,hotdogs,Fast Food,2.5,$,30,"['3615 W Irving Park Rd', 'Chicago, IL 60618']",3615 W Irving Park Rd,NaN,...,MCDONALDS,Restaurant,Risk 2 (Medium),60618,2022,Canvass,Pass,36. THERMOMETERS PROVIDED & ACCURATE - Comment...,41.95364665,-87.71848491
2058,4591,Fiesta Tamaleria Del Barrio,mexican,Mexican,5,NaN,3,"['1820 W 18th St', 'Chicago, IL 60608']",1820 W 18th St,NaN,...,FIESTA TAMALERIA EL BARRIO,Restaurant,Risk 2 (Medium),60608,2022,License,Pass,NaN,41.85782113,-87.67198407
2059,4774,Fiesta Tamaleria El Barrio,mexican,Mexican,4.5,NaN,12,"['1820 W 18th St', 'Chicago, IL 60608']",1820 W 18th St,NaN,...,FIESTA TAMALERIA EL BARRIO,Restaurant,Risk 2 (Medium),60608,2022,License,Pass,NaN,41.85782113,-87.67198407

In [10]:
Merged.to_csv('Merged_Clean.csv', index=False)